extends layout

block content
    h2 Created by:
    ul.contacts
        li
            a(href='https://github.com/tonocm') Antonio Cardenas
        li
            a(href="https://github.com/eduardo-elizondo") Eduardo Elizondo
        li
            a(href="https://github.com/ngiggey") Nicole Giggey
        li
            a(href="https://github.com/Joel-Ramirez") Joel Ramirez
        li
            a(href="https://github.com/jeremywrnr") Jeremy Warner
        br
        li With special thanks to
            a(href="https://github.com/mikeumus") Michael Mooring
