extends layout

block content
  h1 HackerChat
  h1 #{pageData.title}
  |<iframe src="http://webchat.freenode.net?randomnick=1&channels=%23hackprinceton&uio=Mj10cnVlJjk9dHJ1ZSYxMT01MSYxMj10cnVl29" width="647" height="400"></iframe>
