extends layout

block content
  h1 HackerChat
  h1 #{pageData.title}: #{pageData.groups.phone_number}
  a(href="#{pageData.groups.share_url}" target="_blank") Link to Chatroom
  h2 Members
  ul
    each val, index in pageData.groups.members
      li.hackathon-listing #{val.nickname}
