nav
    ul
      li.menu
        include menu.jade
      li.user
        //img.avatar(src="https://a3f012c6cbebd5b03fe3aca4bc538c2759411dfb.googledrive.com/host/0B9LVk4xbDIJTaE55WEZWVlJiU2c/nicole.jpg")
        img.avatar(src='#{pageData.pic}')
        //Yeah, I know it doesn't work, but it's better than having my face on the page the entire time.

      li
        a(href="/")
          img.logo(src= "https://a3f012c6cbebd5b03fe3aca4bc538c2759411dfb.googledrive.com/host/0B9LVk4xbDIJTaE55WEZWVlJiU2c/finallogo.svg")
