nav
    ul

      li.menu
        include menu.jade
      li.user
        //img.avatar(src="https://a3f012c6cbebd5b03fe3aca4bc538c2759411dfb.googledrive.com/host/0B9LVk4xbDIJTaE55WEZWVlJiU2c/nicole.jpg")
        //img.avatar(src='#{pageData.pic}')

      li
        img.logo(src= "https://a3f012c6cbebd5b03fe3aca4bc538c2759411dfb.googledrive.com/host/0B9LVk4xbDIJTaE55WEZWVlJiU2c/finallogo.svg")
