extends layout

block content
    title= pageData.title
    h1.slogan=HackerChat
    p Welcome to #{pageData.title}
    form.login-form(name = "login", action = "/auth/facebook")
        input.btn.btn-block.btn-social.btn-facebook(type = "submit", value = "Facebook")

    //div.logos
        h1.logosheader Tech Implemented
        ul
            li.azure
                img(src="https://a3f012c6cbebd5b03fe3aca4bc538c2759411dfb.googledrive.com/host/0B9LVk4xbDIJTaE55WEZWVlJiU2c/azurelogo.jpg")
            li.facebook
                img(src="https://a3f012c6cbebd5b03fe3aca4bc538c2759411dfb.googledrive.com/host/0B9LVk4xbDIJTaE55WEZWVlJiU2c/FBicon.svg")
            li.groupme
                img(src="https://a3f012c6cbebd5b03fe3aca4bc538c2759411dfb.googledrive.com/host/0B9LVk4xbDIJTaE55WEZWVlJiU2c/groupmelogo.png")
            li.hackp
                img(src="https://a3f012c6cbebd5b03fe3aca4bc538c2759411dfb.googledrive.com/host/0B9LVk4xbDIJTaE55WEZWVlJiU2c/hackprinceton.png")
            li.kimono
                img(src="https://a3f012c6cbebd5b03fe3aca4bc538c2759411dfb.googledrive.com/host/0B9LVk4xbDIJTaE55WEZWVlJiU2c/kimonologo.jpg")
            li.parse
                img(src="https://a3f012c6cbebd5b03fe3aca4bc538c2759411dfb.googledrive.com/host/0B9LVk4xbDIJTaE55WEZWVlJiU2c/Parselogo.jpg")