doctype html
html(lang="en")
html
  head
    title HackerChat
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    include head.jade
    block content
    include foot.jade
