#side-menu.move-me
    hr.hr-set
    span.logo-text HackerChat  
    i.menu-close-icon.glyphicon.glyphicon-align-justify
    hr.hr-set-two
    ul
      li
        a(href='#')
          | Profile
      li
        a(href='#')
          | Chat
      li
        a(href='#')
          | Yo
      li
        a(href='#')
          | About
      li
        a(href='#')
          | Contact
    //
       SIDE MENU SECTION END
    .container
      .row
        .col-md-6
          h1
            strong
              i.menu-open-icon.glyphicon.glyphicon-align-justify
        .col-md-6
          p.p-set
            | Please Click on the
            strong  side menu icon 
            | to see the effect of dropping menu
            | Hope you will enjoy this snipppet which is inspired by this website , because
            strong i have learnt lots of things here. Thanks 
