extends layout

block content
  title= HackerChat
  h1= HackerChat
  h1 #{pageData.title}
  h3 interest
  select
    option(value='software') software
    option(value='hardware') hardware
    option(value='frontend') frontend
    option(value='backend') backend
    option(value='design') design
  h3 Language
  select
    option(value='c') c
    option(value='c++') c++
    option(value='csharp') csharp
    option(value='java') java
    option(value='javascript') javascript
    option(value='R') R
    option(value='lAtEx') lAtEx
    option(value='python') pythan
    option(value='php') php
    option(value='ruby') ruby
    option(value='sql') sql
    option(value='css') css
    option(value='html') html
    option(value='nodejs') nodejs
  h3 Industry
  select
    option(value='health') health
    option(value='education') education
    option(value='finance') finance
    option(value='gaming') gaming
    option(value='tech') tech
    option(value='urban') urban
    option(value='music') music
    option(value='ai') ai
  h3 Experience
  form(action='action_page.php', method='get')
    input(type='range', name='points', min='0', max='10')
    input(type='submit')
