body {
  padding: 50px;
  text-align: center;
  background-color: #CCCCCC;
  font: 18px "Helvetica", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.hackathon-list {
	text-align: center;
	margin: auto;
	width: 86.7%;
}

.hackathon-listing{
	background: white;
	box-shadow: 3px 3px 17px rgba(0,0,0,0.1);
	display: inline-block;
	float: left;
	padding: 33px;
	margin: 44px;
	width: 222px;
}

	.hackathon-listing img{
		margin: auto auto 23px;
		display: block;
	}

	.hackathon-listing ul{
		padding: 0;
	}

	.hackathon-listing li{
		list-style: none;
		text-align: center;
		margin: 11px 0 0;
		font-size: 13px;
		line-height: 7px;
}

nav {
	text-align: center;
}

    .user {
    	position: fixed;
        right: 22px;
    }

	.avatar {
		border-radius: 90px;
		width: 55px;
		text-align: right;
		float: right;
        margin: -12.5px 0 0 11px;
	}

	nav p {
		margin: 0 0 10px;
		text-align: right;
		font-size: 14px;
	}

	nav li {
		list-style: none;
	}

	nav ul {
		margin: auto;
		padding: 0;
	}

.set-profile {
	background: white;
	box-shadow: 3px 3px 17px rgba(0,0,0,0.1);
	padding: 33px;
	margin: 33px auto;
	width: 44%;
}

.logo {
	width: 188px;
	background-color: white;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
}

.facebook-login {
	text-align: center;
	width: 222px
}

.login-form {
	width: 222px;
	display: block;
	margin: auto;
}

.slogan {
	margin: 33px auto;
}

.range {
	width: 55% !important;
	margin: 33px auto;
    display: table;
    position: relative;
    height: 25px;
    margin-top: 20px;
    background-color: rgb(245, 245, 245);
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.range input[type="range"] {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;

    display: table-cell;
    width: 100%;
    background-color: transparent;
    height: 25px;
    cursor: pointer;
}
.range input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;

    width: 11px;
    height: 25px;
    color: rgb(255, 255, 255);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0px;
    background-color: rgb(153, 153, 153);
}

.range input[type="range"]::-moz-slider-thumb {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;
    
    width: 11px;
    height: 25px;
    color: rgb(255, 255, 255);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0px;
    background-color: rgb(153, 153, 153);
}

.range output {
    display: table-cell;
    padding: 3px 5px 2px;
    min-width: 40px;
    color: rgb(255, 255, 255);
    background-color: rgb(153, 153, 153);
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}
.range input[type="range"] {
    outline: none;
}

.range.range-primary input[type="range"]::-webkit-slider-thumb {
    background-color: rgb(66, 139, 202);
}

.range.range-primary input[type="range"]::-moz-slider-thumb {
    background-color: rgb(66, 139, 202);
}

.range.range-primary output {
    background-color: rgb(66, 139, 202);
}

.range.range-primary input[type="range"] {
    outline-color: rgb(66, 139, 202);
}

.range.range-info input[type="range"]::-webkit-slider-thumb {
    background-color: rgb(91, 192, 222);
}

.range.range-info input[type="range"]::-moz-slider-thumb {
    background-color: rgb(91, 192, 222);
}

.range.range-info output {
    background-color: rgb(91, 192, 222);
}

.range.range-info input[type="range"] {
    outline-color: rgb(91, 192, 222);
}

.p-set{
    padding-top: 120px;
    line-height: 30px;
    color: #fff;
    font-size: 16px;
}
.hr-set {
    border-top: 1px solid rgba(0, 0, 0, 0)!important;
    margin-bottom: 20px;
}

.hr-set-two {
    border-top: 1px solid rgba(0, 0, 0, 0.05)!important;
    margin-bottom: 5px;
}

#side-menu {
    height: 100%;
    position: fixed;
    top: -1000px;
    left: -250px;
    background-color: #fff;
    color: #fff;
    z-index: 999;
    overflow: auto;
    max-width: 350px;
	box-shadow: 3px 3px 17px rgba(0,0,0,0.1);
}

 #side-menu ul {
        list-style: none;
        padding: 0px;
    }

        #side-menu ul li {
          border-bottom: 1px solid rgba(95, 87, 88, 0.2);
		  padding: 20px 25px;
        }

         #side-menu ul li a i {
             padding-right: 10px;
        }

            #side-menu ul li a,#side-menu ul li a:hover {
                text-decoration: none;
				font-size: 16px;
            }
  
.logo-text {
    padding: 20px 30px;
	cursor: pointer;
	font-size: 20px;
	font-weight: 900;
	color: #6E2405;

}
.menu-close-icon {
    padding: 0px 10px;
    cursor: pointer;
    color: #6E2405;
    font-size: 25px;
  
}
.menu-open-icon {
    cursor: pointer;
    color: #777;
    padding: 20px 30px;
    padding: 20px 25px;
    position: fixed;
}

.intro-txt {
    padding: 20px;
    color: #6E2405;
}

.btn-warning {
	border-radius: 7px;
	margin: 17px;
}

.btn-social{position:relative;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}.btn-social>:first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}

.btn-facebook{width:222px;color:#fff;background-color:#3b5998;border-color:rgba(0,0,0,0.2)}.btn-facebook:hover,.btn-facebook:focus,.btn-facebook:active,.btn-facebook.active,.open>.dropdown-toggle.btn-facebook{color:#fff;background-color:#2d4373;border-color:rgba(0,0,0,0.2)}

.btn-facebook:active,.btn-facebook.active,.open>.dropdown-toggle.btn-facebook{background-image:none}

.btn-facebook.disabled,.btn-facebook[disabled],fieldset[disabled] .btn-facebook,.btn-facebook.disabled:hover,.btn-facebook[disabled]:hover,fieldset[disabled] .btn-facebook:hover,.btn-facebook.disabled:focus,.btn-facebook[disabled]:focus,fieldset[disabled] .btn-facebook:focus,.btn-facebook.disabled:active,.btn-facebook[disabled]:active,fieldset[disabled] .btn-facebook:active,.btn-facebook.disabled.active,.btn-facebook[disabled].active,fieldset[disabled] .btn-facebook.active{background-color:#3b5998;border-color:rgba(0,0,0,0.2)}

.btn-facebook .badge{color:#3b5998;background-color:#fff}

footer {
	width: 86.7%;
	display: block;
	margin: 77px auto 13px;
	font-size: 14px;
	clear: both;
}