body {
  padding: 50px;
  text-align: center;
  background-color: #CCCCCC;
  font: 18px "Helvetica", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.hackathon-list {
	text-align: center;
	margin: auto;
	width: 86.7%;
}

.hackathon-listing{
	background: white;
	box-shadow: 3px 3px 17px rgba(0,0,0,0.1);
	display: inline-block;
	float: left;
	padding: 33px;
	margin: 44px;
	width: 222px;
}
	.hackathon-listing img{
		margin: auto auto 23px;
		display: block;
	}

	.hackathon-listing ul{
		padding: 0;
	}

	.hackathon-listing li{
		list-style: none;
		text-align: center;
		margin: 11px 0 0;
		font-size: 13px;
		line-height: 7px;
}

nav {
	text-align: center;
}

.logo {
	width: 188px;
	background-color: white;
}

.facebook-login {
	text-align: center;
	width: 222px
}

.login-form {
	width: 222px;
	display: block;
	margin: auto;
}

.slogan {
	margin: 33px auto;
}

.btn-social{position:relative;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}.btn-social>:first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}
.btn-facebook{width:222px;color:#fff;background-color:#3b5998;border-color:rgba(0,0,0,0.2)}.btn-facebook:hover,.btn-facebook:focus,.btn-facebook:active,.btn-facebook.active,.open>.dropdown-toggle.btn-facebook{color:#fff;background-color:#2d4373;border-color:rgba(0,0,0,0.2)}
.btn-facebook:active,.btn-facebook.active,.open>.dropdown-toggle.btn-facebook{background-image:none}
.btn-facebook.disabled,.btn-facebook[disabled],fieldset[disabled] .btn-facebook,.btn-facebook.disabled:hover,.btn-facebook[disabled]:hover,fieldset[disabled] .btn-facebook:hover,.btn-facebook.disabled:focus,.btn-facebook[disabled]:focus,fieldset[disabled] .btn-facebook:focus,.btn-facebook.disabled:active,.btn-facebook[disabled]:active,fieldset[disabled] .btn-facebook:active,.btn-facebook.disabled.active,.btn-facebook[disabled].active,fieldset[disabled] .btn-facebook.active{background-color:#3b5998;border-color:rgba(0,0,0,0.2)}
.btn-facebook .badge{color:#3b5998;background-color:#fff}
